<div class="Welcome">
<div class="header">
  <div class="container">
    <h1>JT Barta</h1>
    <ul class="nav">
      <li><a href="/portfolio/">Portfolio</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/contact/">Contact</a></li>
    </ul>
  </div>
</div>

<div class="bg"> 
  <div class="main home"> 
    <div class="container"> 
      <h2>Hello. My name is JT Barta and I am a CS student who occasionally makes things. They don't always look nice, but they work!</h2> 
      <a href="portfolio">View my Work</a> 
    </div> 
  </div> 
</div>

<div class="footer">
  <div class="container">
    <ul class="social_media">
      <li><a href="https://www.github.com/jtfb4">github</a></li>
      <li><a href="https://www.linkedin.com">linkedin</a></li>
    </ul>
    <p>© 2015 JT Barta</p>
  </div>
  </div>
  </div>