// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bg {
	background: url('http://www.planwallpaper.com/static/images/new-wallpaper-161.jpg');
  background-size: cover;
  color: #ff7502;
}
.Welcome {
font-family: 'Roboto', sans-serif;
}
.nav {
color: red;
}
a {
color: red;
}